<div>
  <div id="header"></div>
  <div id="row_1" class="row">
    <div id="jobCount" class="col-md-6" style="padding: 10px; height: 100%"></div>
    <div id="col_2" class="col-md-6" style="padding: 10px; height: 100%"></div>
  </div>
</div>
