<div>
  <div id="header"></div>
  <div id="row_1" class="row">
    <div id="col_1" class="col-md-6" style="padding: 10px; height: 100%"></div>
    <div id="col_2" class="col-md-6" style="padding: 10px; height: 100%"></div>
  </div>
  <div id="row_2" class="row" style="height: 200px">
    <div id="col_1" class="col-md-8" style="padding: 10px; height: 90%"></div>
    <div id="col_2" class="col-md-4" style="padding: 10px; height: 90%"></div>
    <!-- <div id="last" class="col-md-2" style="padding: 10px; height: 90%"></div> -->
  </div>
</div>
